@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark fw-bold">Merhaba @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-link text-danger fw-bold" asp-controller="Account" asp-action="Logout">Çıkış Yap</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Üye Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Giriş Yap</a>
        </li>
    }
</ul>